<div class="card">
    <div class="card-body">
        <h5 class="card-title">ADD CITY</h5>
         
        <div class="card-body" [formGroup]="form">
            <input type="text" class="form-control"
                formControlName="txtCity"
                aria-label="search-by-zip-input"
                placeholder="Please enter city name" />
            <button type="button" class="btn btn-outline-primary" (click)="addCity(form.value.txtCity)">ADD</button>
        </div>
    </div>
</div>
